@model IEnumerable<pollSystemTurkcell.Models.PollResponse>

@{
    ViewData["Title"] = "AnswerDetails";
}

<h1>@ViewBag.PollName Anketi</h1>
<h3>Ankete Verilen Cevap Detayları </h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Respondent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.PollUsers) {
        <tr>
            <td>
               @item.User.UserName
            </td>
            <td>
               @foreach (var question in ViewBag.Questions)
               {
                   <p>@question.Text</p>
               }
            </td>
            <td>
                @foreach (var answer in ViewBag.Answers)
                {
                    if (answer.Respondent.ID == item.UserID)
                    {
                        @if (answer.Answer == true)
                        {
                            <span class="badge bg-success">Evet</span>
                        }
                        else if (answer.Answer == false)
                        {
                            <span class="badge bg-danger">Hayır</span>
                        }
                    }
                }
            </td>
            <td>
                @foreach (var answer in ViewBag.Answers)
                {
                    if (answer.Respondent.ID == item.UserID)
                    {

                       <p>@answer.Notes</p>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a type="button" class="btn btn-outline-primary" asp-action="Details" asp-controller="Polls" asp-route-pollID="@ViewBag.PollID"> Ankete Dön </a>
    <a type="button" class="btn btn-outline-dark" asp-action="DownloadList" asp-controller="Polls" asp-route-pollID="@ViewBag.PollID"> Cevapları İndir </a>
</div>