@model pollSystemTurkcell.Models.PollResponse

@{
    ViewData["Title"] = "Reply";
}

<h1>Soru</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label><strong>Anket İsmi</strong> </label>
                <p>
                    <span class="badge bg-info text-dark">@ViewBag.PollName</span>
                </p>
            </div>
            <div class="form-group">
                <label><strong>Soru</strong> </label>
                <p>
                    @ViewBag.Question.Text
                </p>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="@Model.Answer">
                    <option value="True"> Evet</option>
                    <option value="False">Hayır</option>
                </select>
                <span asp-validation-for="@Model.Answer"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.PollID" value="@ViewBag.PollID" />
                <input type="hidden" asp-for="@Model.RespondentID" value="@ViewBag.RespondentID" />
                <input type="hidden" asp-for="@Model.QuestionID" value="@ViewBag.Question.ID" />
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


    <div>
        <a asp-action="Index">Listeye dön</a>
    </div>
