@model pollSystemTurkcell.Models.Poll

@{
    ViewData["Title"] = "Details";
}

<h1>Anket Detayları</h1>

<div>
    <h4>Anket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfConfirmations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfConfirmations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorID)
        </dt>
        <dd class="col-sm-10">
            @Model.Creator.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in ViewBag.Questions)
            {
                <p>@item.Text</p>
                <a type="button" asp-action="Delete" asp-controller="Questions" asp-route-qID="@item.ID" class="btn btn-danger justify-content-center" method="post">Soruyu Sil</a>
                <a type="button" asp-action="Edit" asp-controller="Questions" asp-route-qID="@item.ID" class="btn btn-success justify-content-center" method="post">Soruyu Düzenle</a>
                <p>   </p>

            }
            <p>   </p>
            <a type="button" asp-action="Create" asp-controller="Questions" asp-route-pollID="@Model.ID" class="btn btn-info" method="post">Ankete Soru Ekle</a>
        </dd>
        <dt class="col-sm-2">
            Cevaplayanların Sayısı
        </dt>
        <dd class="col-sm-10">
            @ViewBag.NoOfAnswers
            <a type="button" asp-action="AnswerDetails" asp-controller="PollReply" asp-route-pollID="@Model.ID" class="btn btn-outline-info justify-content-center">Cevap Ayrıntılarını Gör</a>
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-pollID="@Model.ID"> Düzenle</a> |
    <a asp-action="Index">Listeye Dön</a>
</div>
