@model IEnumerable<pollSystemTurkcell.Models.Poll>

@{
    ViewData["Title"] = "Index";
}

<h1>Anketler</h1>

<p>
    <a asp-action="Create">Yeni Anket Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Name)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { pollID = item.ID }) |
                @Html.ActionLink("Detaylar", "Details", new { pollID = item.ID }) |
                @Html.ActionLink("Sil", "Delete", new { pollID = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
