@model pollSystemTurkcell.Models.Question

@{
    ViewData["Title"] = "Delete";
}

<h1>Sil</h1>

<h3>Bu soruyu silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
           <strong>Anket İsmi</strong>
        </dt>
        <dd class = "col-sm-10">
            <p>
                <span class="badge bg-warning text-dark">@ViewBag.PollName</span>
            </p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Polls" asp-route-pollID="@Model.PollID">Anket detaylarına dön</a>
    </form>
</div>
